body {
  background-color: #222;
}

.container {
  background-color: #eee;
  max-width: 900px;
}

header {
  text-align: right;
}

#show {
  text-align: center;
  background-color: #111;
  color: #E0E0E0;
  margin-top: 100px;
}
#show h2{
  padding:30px;
  color: #F57F17;
}

footer{
	text-align: right;
}

